<%- include('head') %>

  <div class="header">
    <a title="voltar" class="header__backhome">
      <i class="fas fa-arrow-left"></i>
    </a>
    <a title="imprimir" class="header__print" id="print">
      <i class="fas fa-print"></i>
    </a>
  </div>
  
  <article class="container">
    <% list.map(data => { %>
      <div class="tag">
        <p class="tag__description"><%= data.desc %></p>
        <p class="tag__mark"><%= data.mark %></p>
        <p class="tag__price"><%= data.price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}).replace('.', ',') %></p>
        <p class="tag__codebar">*<%= data.barcode %>*</p>
        <p class="tag__cad"><%= data.cad %></p>
      </div>
    <%  }) %>
  </article>
  
<%- include('footer') %>
