<%- include('head') %>

  <div class="header">
    <a title="voltar" class="header__backhome" href="/">
      <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="30" width="30" xmlns="http://www.w3.org/2000/svg"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
    </a>
    <a title="imprimir" class="header__print" id="print">
      <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="30" width="30" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>
    </a>
  </div>
  
  <article class="container">
    <% data.map(item => { %>
      <div class="tag">
        <p class="tag__description"><%= item.desc %></p>
        <p class="tag__mark"><%= item.mark %></p>
        <p class="tag__price"><%= item.price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}).replace('.', ',') %></p>
        <p class="tag__codebar">*<%= item.barcode %>*</p>
        <p class="tag__cad"><%= item.cad %></p>
      </div>
    <%  }) %>
  </article>
  
<%- include('footer') %>
